# dependencies
/api/node_modules
/client/node_modules
/client/.pnp
/api/.pnp
/client/.pnp.js
/api/.pnp.js



# testing
/coverage

# production
/api/dist
/client/build

# misc
/api/.DS_Store
/api/.env.development
/api/.env.test
/api/.env.production

*npm-debug.log*
*yarn-debug.log*
*yarn-error.log*

#IDE
/.idea